WebService/src/main/webapp/wsdl/CalculateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sunyiwei.cmcc.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sunyiwei.cmcc.com" xmlns:intf="http://sunyiwei.cmcc.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sunyiwei.cmcc.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="abs">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="absResponse">
    <complexType>
     <sequence>
      <element name="absReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="absResponse">

      <wsdl:part element="impl:absResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="absRequest">

      <wsdl:part element="impl:abs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculateService">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="abs">

         <wsdl:input message="impl:absRequest" name="absRequest">

       </wsdl:input>

         <wsdl:output message="impl:absResponse" name="absResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculateServiceSoapBinding" type="impl:CalculateService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="abs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="absRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="absResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculateServiceService">

      <wsdl:port binding="impl:CalculateServiceSoapBinding" name="CalculateService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/CalculateService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
